<div *ngIf="isEditing">
    <div>
        <label for="username">Username</label>
        <input type="text" 
            name="username" 
            id="username" 
            [(ngModel)]="editedProfile.username">
    </div>

    <div>
        <label for="birthday">Birthday</label>
        <input type="text" 
            name="birthday" 
            id="birthday" 
            [(ngModel)]="editedProfile.birthday">
    </div>

    <div>
        <label for="age">Age</label>
        <input type="number" 
            name="age" 
            id="age" 
            [(ngModel)]="editedProfile.age">
    </div>

    <div>
        <label for="location">location</label>
        <input type="text" 
            name="Location" 
            id="Location" 
            [(ngModel)]="editedProfile.location">
    </div>

    <div>
        <label for="music_taste">Music Taste</label>
        <input type="text" 
            name="music_taste" 
            id="music_taste" 
            [(ngModel)]="editedProfile.music_taste">
    </div>

    <div>
        <label for="mood">Mood</label>
        <input type="text" 
            name="mood" 
            id="mood" 
            [(ngModel)]="editedProfile.mood">
    </div>

    <div>
        <label for="favorite_song">Favorite Song</label>
        <input type="text" 
            name="favorite_song" 
            id="favorite_song" 
            [(ngModel)]="editedProfile.favorite_song">
    </div>

    <button (click)="saveChanges()">Save</button>
    <button (click)="cancelEdit()">Cancel</button>
</div>

<div *ngIf="!isEditing">
    <p>Username : {{ profile.username}}</p>
    <p>User's Birthday : {{ profile.birthday }}</p>
    <p>Location : {{ profile.location }}</p>
    <p>Age : {{ profile.age }}</p>
    <p>User's Music taste: {{ profile.music_taste }}</p>
    <p>Mood: {{ profile.mood }}</p>
    <p>Current Favorite Track: {{ profile.favorite_song }}</p>
    <button (click)="editProfile()">Edit</button>
</div>
