.profile-container {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    color : white;
    background-color: #242424;
}

.profile-container button {
    border-radius: 10px;
    background-color: #FFFFFF;
    border: none;
    padding: 5px;
    font-weight: bold;
    width: 30%;
}

.profile-info {
    margin-left: 25%;
    color : white;
}

.edit-container {
    color : white;
    background-color: #242424;
}